rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn(){ return request.auth != null; }
    function isAdmin(){ return signedIn() && exists(/databases/$(database)/documents/users/$(request.auth.uid)) && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true; }
    match /users/{userId} {
      allow create: if signedIn() && request.auth.uid == userId && request.resource.data.isAdmin != true;
      allow read: if signedIn() && (request.auth.uid == userId || isAdmin());
      allow update: if signedIn() && ((request.auth.uid == userId && request.resource.data.isAdmin == resource.data.isAdmin) || isAdmin());
      allow delete: if isAdmin();
    }
    match /products/{id} { allow read: if true; allow create, update, delete: if isAdmin(); }
    match /categories/{id} { allow read: if true; allow create, update, delete: if isAdmin(); }
    match /settings/{id} { allow read: if true; allow create, update, delete: if isAdmin(); }
    match /orders/{id} { allow create: if signedIn() && request.resource.data.userId == request.auth.uid; allow read: if isAdmin() || (signedIn() && resource.data.userId == request.auth.uid); allow update, delete: if isAdmin(); }
  }
}
